h1 {
  margin-top: 50px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  font-family: Chalkduster;
  color: white;
}
body {
  background-color: #346b31;
}
* {
  box-sizing: border-box;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 14px;
  margin-bottom: 10px;
  background-color: black;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 7px solid #966f33;
}

.btn {
  border: 2px solid white;
  margin-right: 3px;
  margin-left: 3px;
  width: 100%;
  display: block;
  font-family: Chalkduster;
}

.container {
  width: 500px;
  height: 500px;
  display: grid;
  border: 10px solid #966f33;
  padding-left: 0;
  padding-right: 0;
  background-color: black;
}
.slidecontainer {
  display: flex;
  justify-content: center;
  background-color: black;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 3px;
  border: 7px solid #966f33;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  -webkit-appearance: none;
  width: 50%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: black;

  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  border: 2px solid white;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #346b31;
  cursor: pointer;
}
input {
  margin-left: 20px;
  align-items: center;
  display: flex;
}

.rangeValue {
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
}
